/* CSS files add styling rules to your content */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap');

body {
  background-color: #6BBAA7;
  font-family: 'Merriweather Sans', sans-serif;
  color: white;
  
  padding: 25px;
  margin: 2em;
}

h1 {
 
  font-family: 'Lato', sans-serif;
  color: white;
}

#stretches{
  text-align: center;
  height: 200px;
  width: 50%;
  background-color: #FBA100;
}

/* For background Aqua #6BBAA7 
/* For buttons Sunshine #FBA100 
/* For border Lavender #6C648B
/*Dusty Rose #B6A19E