/* CSS files add styling rules to your content */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap')

#main{
    padding: 50px;
    font-family: 'Josefin Sans', sans-serif;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 2em;
}

h1 {
  font-family: 'Amatic SC', cursive;
  color: #373fff;
}


/* Aqua #6BBAA7
/*Sunshine #FBA100
/* Lavender #6C648B
/*Dusty Rose #B6A19E